.root{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

.background{
    -fx-background-image: url(https://raw.githubusercontent.com/lichess-org/lila/master/public/logo/lichess-stripe.png);
    -fx-background-size: contain;
    -fx-background-position: center;
}

.chart{
    -fx-padding: 10px;
    -fx-background-color: transparent;
}
.chart-title{
     -fx-text-fill: royalblue;
  -fx-font-size: 2em;


}
.chart-content {
    -fx-padding: 30px;
}
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
.chart-legend-item{
    -fx-text-fill: royalblue;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-series-line {
    -fx-stroke-width: 3px;
}
.chart-line-symbol {
   -fx-background-radius: 10px;
   -fx-padding: 2px;
   -fx-shape: "M5,0 L10,8 L0,8 Z"
}
.axis {
    -fx-font-size: 1.4em;
}
.axis-tick-mark {
    -fx-stroke-width: 3;
}